### Time series project

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Load Data

In [2]:
df = pd.read_csv('../data/san_diego.csv')

In [3]:
df2 = pd.read_csv('../data/santa_cruz.csv')

In [4]:
df3 = pd.read_csv('../data/bird_rock.csv')

In [5]:
df4 = pd.read_csv('../data/SD_ledge.csv')

### San Diego

In [6]:
# Change 'Date' column to a timestamp using pd.datetime()
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
# We can add columns for year, month, day, and day of year.
df['YEAR'] = [x.year for x in df.Date]
df['MONTH'] = [x.month for x in df.Date]
df['DAY'] = [x.day for x in df.Date]
df['DAY_OF_YEAR'] = [x.dayofyear for x in df.Date]

In [8]:
df_mean_by_month = df.groupby(['MONTH'], as_index=False).mean()

### Santa Cruz

In [9]:
# Change 'Date' column to a timestamp using pd.datetime()
df2['Date'] = pd.to_datetime(df2['Date'])

In [10]:
# We can add columns for year, month, day, and day of year.
df2['YEAR'] = [x.year for x in df2.Date]
df2['MONTH'] = [x.month for x in df2.Date]
df2['DAY'] = [x.day for x in df2.Date]
df2['DAY_OF_YEAR'] = [x.dayofyear for x in df2.Date]

In [ ]:
df_mean_by_month2 = df2.groupby(['MONTH'], as_index=False).mean()

### Bird Rock

In [ ]:
# Change 'Date' column to a timestamp using pd.datetime()
df3['Date'] = pd.to_datetime(df3['Date'])

In [ ]:
# We can add columns for year, month, day, and day of year.
df3['YEAR'] = [x.year for x in df3.Date]
df3['MONTH'] = [x.month for x in df3.Date]
df3['DAY'] = [x.day for x in df3.Date]
df3['DAY_OF_YEAR'] = [x.dayofyear for x in df3.Date]

In [ ]:
df_mean_by_month_3 = df3.groupby(['MONTH'], as_index=False).mean()

## San Diego (ledge)

In [ ]:
# Change 'Date' column to a timestamp using pd.datetime()
df4['Date'] = pd.to_datetime(df4['Date'])

In [ ]:
# We can add columns for year, month, day, and day of year.
df4['YEAR'] = [x.year for x in df4.Date]
df4['MONTH'] = [x.month for x in df4.Date]
df4['DAY'] = [x.day for x in df4.Date]
df4['DAY_OF_YEAR'] = [x.dayofyear for x in df4.Date]

In [ ]:
df_mean_by_month_4 = df4.groupby(['MONTH'], as_index=False).mean()

## Side-by-side Graphs

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=4, figsize=(20,4))

axes[0].plot(df['Date'], df['Temp'], 'r')
axes[0].set_xlabel('Date')
axes[0].set_ylabel('Temperature')
axes[0].set_title('San Diego')

axes[1].plot(df2['Date'], df2['Temp'], 'b')
axes[1].set_xlabel('Date')
axes[1].set_ylabel('Temperature')
axes[1].set_title('Santa Cruz')

axes[2].plot(df3['Date'], df3['Temp'], 'g')
axes[2].set_xlabel('Date')
axes[2].set_ylabel('Temperature')
axes[2].set_title('Bird Rock')

axes[3].plot(df4['Date'], df4['Temp'], 'c')
axes[3].set_xlabel('Date')
axes[3].set_ylabel('Temperature')
axes[3].set_title('San Diego (ledge)');

In [ ]:
fig.savefig('../figures/daily_sidebyside.png', dpi=300)

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=4, figsize=(20,4))

axes[0].plot(df_mean_by_month.MONTH, df_mean_by_month.Temp, 'r')
axes[0].set_xlabel('Month')
axes[0].set_ylabel('Temperature')
axes[0].set_title('San Diego')

axes[1].plot(df_mean_by_month2.MONTH, df_mean_by_month2.Temp)
axes[1].set_xlabel('Month')
axes[1].set_ylabel('Temperature')
axes[1].set_title('Santa Cruz')

axes[2].plot(df_mean_by_month_3.MONTH, df_mean_by_month_3.Temp, 'g')
axes[2].set_xlabel('Month')
axes[2].set_ylabel('Temperature')
axes[2].set_title('Bird Rock')

axes[3].plot(df_mean_by_month_4.MONTH, df_mean_by_month_4.Temp, 'c')
axes[3].set_xlabel('Date')
axes[3].set_ylabel('Temperature')
axes[3].set_title('San Diego (ledge)');

In [ ]:
fig.savefig('../figures/side_by_side.png', dpi=300)

## Combined graphs

In [ ]:
fig, ax = plt.subplots(figsize=(12,12))

ax.plot(df['Date'], df['Temp'], 'r', lw=1, label="San Diego")
ax.plot(df2['Date'], df2['Temp'], 'b', lw=1, label="Santa Cruz")
ax.plot(df3['Date'], df3['Temp'], 'g', lw=1, label="Bird Rock")
ax.plot(df4['Date'], df4['Temp'], 'c', lw=1, label="San Diego (ledge)")
ax.legend(loc=1, frameon=False); # upper left corner, no frame
ax.set_xlabel('Date')
ax.set_ylabel('Temperature')
ax.set_title('Daily Teperature (2017)');

In [ ]:
fig.savefig('../figures/daily_temp.png', dpi=300)

In [ ]:
fig, ax = plt.subplots(figsize=(12,12))

ax.plot(df_mean_by_month.MONTH, df_mean_by_month.Temp, 'r.-', lw=1, label="San Diego")
ax.plot(df_mean_by_month2.MONTH, df_mean_by_month2.Temp, 'b.-', lw=1, label="Santa Cruz")
ax.plot(df_mean_by_month_3.MONTH, df_mean_by_month_3.Temp, 'g.-', lw=1, label="Bird Rock")
ax.plot(df_mean_by_month_4.MONTH, df_mean_by_month_4.Temp, 'c.-', lw=1, label="San Diego (ledge)")
ax.legend(loc=1, frameon=False); # upper left corner, no frame
ax.set_xlabel('Month')
ax.set_ylabel('Temperature')
ax.set_title('Average Monthly Teperature (2017)')
ax.set_xticks([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]);

In [ ]:
fig.savefig('../figures/monthly_avaerage.png', dpi=300)