In [11]:
import pandas as pd

In [12]:
def organize_df(i):
    i['Date'] = pd.to_datetime(i['Date'])
    i['YEAR'] = [x.year for x in i.Date]
    i['MONTH'] = [x.month for x in i.Date]
    i['DAY'] = [x.day for x in i.Date]
    i['DAY_OF_YEAR'] = [x.dayofyear for x in i.Date]

In [13]:
df = pd.read_csv('../data/san_diego.csv')

In [14]:
df

                  Date  Temp
0       2/8/2017 16:40  21.0
1       2/8/2017 16:57  20.5
2       2/8/2017 17:14  20.5
3       2/8/2017 17:31  20.0
4       2/8/2017 17:48  19.5
5       2/8/2017 18:05  19.0
6       2/8/2017 18:22  18.5
7       2/8/2017 18:39  18.5
8       2/8/2017 18:56  18.0
9       2/8/2017 19:13  17.5
10      2/8/2017 19:30  16.5
11      2/8/2017 19:47  16.5
12      2/8/2017 20:04  16.0
13      2/8/2017 20:21  16.0
14      2/8/2017 20:38  16.0
15      2/8/2017 20:55  16.0
16      2/8/2017 21:12  16.0
17      2/8/2017 21:29  16.0
18      2/8/2017 21:46  16.0
19      2/8/2017 22:03  16.0
20      2/8/2017 22:20  16.0
21      2/8/2017 22:37  16.0
22      2/8/2017 22:54  15.5
23      2/8/2017 23:11  15.5
24      2/8/2017 23:28  15.5
25      2/8/2017 23:45  15.5
26       2/9/2017 0:02  15.5
27       2/9/2017 0:19  15.5
28       2/9/2017 0:36  15.5
29       2/9/2017 0:53  15.5
...                ...   ...
53946   6/30/2017 9:52  21.5
53947  6/30/2017 10:09  22.0
53948  6/30/2017 10:26  22.5
53949  6/30/2017 10:43  23.5
53950  6/30/2017 11:00  25.0
53951  6/30/2017 11:17  26.0
53952  6/30/2017 11:34  26.5
53953  6/30/2017 11:51  27.5
53954  6/30/2017 12:08  28.5
53955  6/30/2017 12:25  29.0
53956  6/30/2017 12:42  30.0
53957  6/30/2017 12:59  30.5
53958  6/30/2017 13:16  30.5
53959  6/30/2017 13:33  31.0
53960  6/30/2017 13:50  31.5
53961  6/30/2017 14:07  31.5
53962  6/30/2017 14:24  31.0
53963  6/30/2017 14:41  31.0
53964  6/30/2017 14:58  31.0
53965  6/30/2017 15:15  31.0
53966  6/30/2017 15:32  31.0
53967  6/30/2017 15:49  31.0
53968  6/30/2017 16:06  31.0
53969  6/30/2017 16:23  31.0
53970  6/30/2017 16:40  30.5
53971  6/30/2017 16:57  30.5
53972  6/30/2017 17:14  30.5
53973  6/30/2017 17:31  30.5
53974  6/30/2017 17:48  30.0
53975  6/30/2017 18:05  30.0

[53976 rows x 2 columns]

In [15]:
organize_df(df)

In [16]:
df

                     Date  Temp  YEAR  MONTH  DAY  DAY_OF_YEAR
0     2017-02-08 16:40:00  21.0  2017      2    8           39
1     2017-02-08 16:57:00  20.5  2017      2    8           39
2     2017-02-08 17:14:00  20.5  2017      2    8           39
3     2017-02-08 17:31:00  20.0  2017      2    8           39
4     2017-02-08 17:48:00  19.5  2017      2    8           39
5     2017-02-08 18:05:00  19.0  2017      2    8           39
6     2017-02-08 18:22:00  18.5  2017      2    8           39
7     2017-02-08 18:39:00  18.5  2017      2    8           39
8     2017-02-08 18:56:00  18.0  2017      2    8           39
9     2017-02-08 19:13:00  17.5  2017      2    8           39
10    2017-02-08 19:30:00  16.5  2017      2    8           39
11    2017-02-08 19:47:00  16.5  2017      2    8           39
12    2017-02-08 20:04:00  16.0  2017      2    8           39
13    2017-02-08 20:21:00  16.0  2017      2    8           39
14    2017-02-08 20:38:00  16.0  2017      2    8           39
15    2017-02-08 20:55:00  16.0  2017      2    8           39
16    2017-02-08 21:12:00  16.0  2017      2    8           39
17    2017-02-08 21:29:00  16.0  2017      2    8           39
18    2017-02-08 21:46:00  16.0  2017      2    8           39
19    2017-02-08 22:03:00  16.0  2017      2    8           39
20    2017-02-08 22:20:00  16.0  2017      2    8           39
21    2017-02-08 22:37:00  16.0  2017      2    8           39
22    2017-02-08 22:54:00  15.5  2017      2    8           39
23    2017-02-08 23:11:00  15.5  2017      2    8           39
24    2017-02-08 23:28:00  15.5  2017      2    8           39
25    2017-02-08 23:45:00  15.5  2017      2    8           39
26    2017-02-09 00:02:00  15.5  2017      2    9           40
27    2017-02-09 00:19:00  15.5  2017      2    9           40
28    2017-02-09 00:36:00  15.5  2017      2    9           40
29    2017-02-09 00:53:00  15.5  2017      2    9           40
...                   ...   ...   ...    ...  ...          ...
53946 2017-06-30 09:52:00  21.5  2017      6   30          181
53947 2017-06-30 10:09:00  22.0  2017      6   30          181
53948 2017-06-30 10:26:00  22.5  2017      6   30          181
53949 2017-06-30 10:43:00  23.5  2017      6   30          181
53950 2017-06-30 11:00:00  25.0  2017      6   30          181
53951 2017-06-30 11:17:00  26.0  2017      6   30          181
53952 2017-06-30 11:34:00  26.5  2017      6   30          181
53953 2017-06-30 11:51:00  27.5  2017      6   30          181
53954 2017-06-30 12:08:00  28.5  2017      6   30          181
53955 2017-06-30 12:25:00  29.0  2017      6   30          181
53956 2017-06-30 12:42:00  30.0  2017      6   30          181
53957 2017-06-30 12:59:00  30.5  2017      6   30          181
53958 2017-06-30 13:16:00  30.5  2017      6   30          181
53959 2017-06-30 13:33:00  31.0  2017      6   30          181
53960 2017-06-30 13:50:00  31.5  2017      6   30          181
53961 2017-06-30 14:07:00  31.5  2017      6   30          181
53962 2017-06-30 14:24:00  31.0  2017      6   30          181
53963 2017-06-30 14:41:00  31.0  2017      6   30          181
53964 2017-06-30 14:58:00  31.0  2017      6   30          181
53965 2017-06-30 15:15:00  31.0  2017      6   30          181
53966 2017-06-30 15:32:00  31.0  2017      6   30          181
53967 2017-06-30 15:49:00  31.0  2017      6   30          181
53968 2017-06-30 16:06:00  31.0  2017      6   30          181
53969 2017-06-30 16:23:00  31.0  2017      6   30          181
53970 2017-06-30 16:40:00  30.5  2017      6   30          181
53971 2017-06-30 16:57:00  30.5  2017      6   30          181
53972 2017-06-30 17:14:00  30.5  2017      6   30          181
53973 2017-06-30 17:31:00  30.5  2017      6   30          181
53974 2017-06-30 17:48:00  30.0  2017      6   30          181
53975 2017-06-30 18:05:00  30.0  2017      6   30          181

[53976 rows x 6 columns]

In [17]:
df2 = pd.read_csv('../data/santa_cruz.csv')

In [18]:
organize_df(df2)

In [19]:
df2

                      Date    Temp  YEAR  MONTH  DAY  DAY_OF_YEAR
0      2017-02-10 16:02:00  16.626  2017      2   10           41
1      2017-02-10 16:19:00  16.626  2017      2   10           41
2      2017-02-10 16:36:00  16.125  2017      2   10           41
3      2017-02-10 16:53:00  16.125  2017      2   10           41
4      2017-02-10 17:10:00  16.125  2017      2   10           41
5      2017-02-10 17:27:00  16.125  2017      2   10           41
6      2017-02-10 17:44:00  15.624  2017      2   10           41
7      2017-02-10 18:01:00  15.624  2017      2   10           41
8      2017-02-10 18:18:00  15.624  2017      2   10           41
9      2017-02-10 18:35:00  15.624  2017      2   10           41
10     2017-02-10 18:52:00  15.624  2017      2   10           41
11     2017-02-10 19:09:00  15.123  2017      2   10           41
12     2017-02-10 19:26:00  15.123  2017      2   10           41
13     2017-02-10 19:43:00  15.123  2017      2   10           41
14     2017-02-10 20:00:00  14.622  2017      2   10           41
15     2017-02-10 20:17:00  14.622  2017      2   10           41
16     2017-02-10 20:34:00  14.622  2017      2   10           41
17     2017-02-10 20:51:00  14.622  2017      2   10           41
18     2017-02-10 21:08:00  13.619  2017      2   10           41
19     2017-02-10 21:25:00  13.619  2017      2   10           41
20     2017-02-10 21:42:00  13.619  2017      2   10           41
21     2017-02-10 21:59:00  13.619  2017      2   10           41
22     2017-02-10 22:16:00  13.619  2017      2   10           41
23     2017-02-10 22:33:00  13.619  2017      2   10           41
24     2017-02-10 22:50:00  13.118  2017      2   10           41
25     2017-02-10 23:07:00  13.619  2017      2   10           41
26     2017-02-10 23:24:00  13.619  2017      2   10           41
27     2017-02-10 23:41:00  13.619  2017      2   10           41
28     2017-02-10 23:58:00  13.118  2017      2   10           41
29     2017-02-11 00:15:00  13.118  2017      2   11           42
...                    ...     ...   ...    ...  ...          ...
102824 2018-02-18 21:55:00  10.657  2018      2   18           49
102825 2018-02-18 22:12:00  10.657  2018      2   18           49
102826 2018-02-18 22:29:00  10.155  2018      2   18           49
102827 2018-02-18 22:46:00  10.155  2018      2   18           49
102828 2018-02-18 23:03:00  10.155  2018      2   18           49
102829 2018-02-18 23:20:00  10.155  2018      2   18           49
102830 2018-02-18 23:37:00   9.653  2018      2   18           49
102831 2018-02-18 23:54:00   9.653  2018      2   18           49
102832 2018-02-19 00:11:00   9.653  2018      2   19           50
102833 2018-02-19 00:28:00   9.653  2018      2   19           50
102834 2018-02-19 00:45:00   9.653  2018      2   19           50
102835 2018-02-19 01:02:00  10.155  2018      2   19           50
102836 2018-02-19 01:19:00  10.155  2018      2   19           50
102837 2018-02-19 01:36:00   9.653  2018      2   19           50
102838 2018-02-19 01:53:00   9.653  2018      2   19           50
102839 2018-02-19 02:10:00   9.653  2018      2   19           50
102840 2018-02-19 02:27:00   9.653  2018      2   19           50
102841 2018-02-19 02:44:00   9.152  2018      2   19           50
102842 2018-02-19 03:01:00   9.152  2018      2   19           50
102843 2018-02-19 03:18:00   9.152  2018      2   19           50
102844 2018-02-19 03:35:00   8.650  2018      2   19           50
102845 2018-02-19 03:52:00   8.148  2018      2   19           50
102846 2018-02-19 04:09:00   8.148  2018      2   19           50
102847 2018-02-19 04:26:00   7.646  2018      2   19           50
102848 2018-02-19 04:43:00   7.646  2018      2   19           50
102849 2018-02-19 05:00:00   7.144  2018      2   19           50
102850 2018-02-19 05:17:00   7.144  2018      2   19           50
102851 2018-02-19 05:34:00   7.144  2018      2   19           50
102852 2018-02-19 05:51:00   7.144  2018      2   19           50
102853 2018-02-19 06:08:00   7.144  2018      2   19           50

[102854 rows x 6 columns]